<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utilities.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/virdeeAutomationProject">
        <classes>
            <class name="Tests.LoginPageTest"/>
            <class name="Tests.accessInternalTest"/>
            <class name="Tests.HomePageTest"/>
            <class name="Tests.accessfilteringTest"/>
            <class name="Tests.UsersPageTest"/>
            <class name="Tests.accessTest"/>
            <class name="Tests.LocationsTest"/>
            <class name="Tests.ReportingTest"/>
            <class name="Tests.usersFilteringTest"/>

        </classes>
    </test>
</suite>